/node_modules
/public/uploads
/vendor
/.idea
/.svn
/Modules
/tests
/storage
Homestead.json
Homestead.yaml
.env
_ide_helper.php
.phpstorm.meta.php
phpunit.xml

# Laravel 5 & Lumen specific
bootstrap/cache/
.env.*.php
.env.php
.env

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/
